<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Channel {{ channel.name }}</title>
        <!-- Include Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>The distributed messenger. <a href="{{ url_for('home_page') }}">List of channels.</a> </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% if channel %}
                        <h1>Channel {{ channel.name }}</h1>
                    {% else %}
                        <h1>Channel not found</h1>
                    {% endif %}
                </div>
            </div>
            
            {% if channel %}
                {% for message in messages %}
                    <div class="row" style="background-color: #4e8dd0; border-radius: 10px; margin-bottom: 10px;">
                        <div class="col-md-12">
                            <h2>{{ message.sender }}</h2>
                            <p>{{ message.content }}</p>
                            <p style="font-size: 60%">{{ message.timestamp }}</p>
                        </div>      
                    </div>
                {% endfor %}
            {% endif %}  
            
            <div class="row">
                <div class="col-md-12">
                    <form action="post" method="post">
                        <input type="hidden" name="channel" value="{{ channel.endpoint | urlencode }}">
                        Sender: <input type="text" name="sender" id="sender"> <br>
                        Message: <input type="text" name="content" id="content"> <br>
                        <input type="submit" value="Post">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>